amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
click==6.7
decorator==4.0.11
Flask==0.12.2
Flask-JWT==0.3.2
imageio==2.1.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
moviepy==0.2.3.2
numpy==1.14.2
Pillow==5.1.0
PyJWT==1.4.2
pytz==2018.3
redis==2.10.6
tqdm==4.11.2
vine==1.1.4
Werkzeug==0.14.1
